<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
</head>
<body>
    <h1>This page has been visited {{session['count']}} times during this session! WOW!</h1>
    <div style="display: flex; justify-content: space-around">
        <div>
          <a href="/" class="btn btn-primary">Click</a>
        </div>
        <div>
            <a href="/destroy_session">Reset</a>
        </div>
    </div>
</body>
</html>