<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body>
    <h1>Submitted Info:</h1>
    <h3>Name: {{session['name']}}</h3>
    <h3>Dojo Location: {{session['dojo_location']}}</h3>
    <h3>Favorite Language: {{session['favorite_language']}}</h3>
    <h3>Comment: {{session['comment']}}</h3>
</body>
</html>