<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
</head>
<body>
<form action='/users' method='post'>

    <label for='name'>Your Name:</label>
    <input type='text' name='name'>

    <label for='dojo_location'>Dojo Location:</label>
    <input type='text' name='dojo_location'>

    <label for='favorite_language'>Favorite Language:</label>
    <input type='text' name='favorite_language'>

    <label for='comment'>Comment (optional):</label>
    <input type='text' name='comment'>

    <input type='submit' value='Submit'>
</form>

</body>
</html>